In [ ]:
#CLASSIFICATION - LOGISTIC REGRESSION(SUPERVISED LEARNING TECHNIQUE)
#IT CLASSIFIES OUR DATA INTO DIFFERENT CLASSES(0 and 1,True or Flase,Person has fever or not ,cat or dog,car or bike,0 or 1 or 2)

In [ ]:
#SOCIAL NETWORK ADS
#datatset - https://raw.githubusercontent.com/ameenmanna8824/DATASETS/main/Social_Network_Ads.csv

In [ ]:
#1.Take the data and create dataframe
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ameenmanna8824/DATASETS/main/Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
#2.
df.shape #400 rows and 5 cols

(400, 5)

In [ ]:
df.size # It tells us the total no of elements in df

2000

In [ ]:
df.info() #It gives the information about the Dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [ ]:
#3.VISUALISATION - FOR NOW STEP NO 3 cannot be performed

In [ ]:
#Input - Age and Estimated Salary
#Output - Purchased

In [ ]:
#4.DIVIDE THE DATA INTO INPUT AND OUTOUT
#x is always 2 dimensional
x = df.iloc[:,2:4].values
x

In [ ]:
#y is always 1 dimensional
y = df.iloc[:,4].values
y

In [ ]:
#Purchased : 0 and 1
# 0 - Not Purchased
# 1 - Purchased

In [ ]:
#I just want the exact count of no of people purchased and not purchased
df['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [ ]:
#5.Train and Test Variables
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)
#By default in train_test_split ----- training variables get 70% of data from x and y
#testing variables get the reamining 25 %
#random_state = 0 , is to make sure data splitting once done , data should not be interchanged.

In [ ]:
print(x.shape) #100%
print(x_train.shape) #75%
print(x_test.shape) #25%

(400, 2)
(300, 2)
(100, 2)

In [ ]:
print(y.shape) # 100%
print(y_train.shape) #75%
print(y_test.shape)#25%

(400,)
(300,)
(100,)

In [ ]:
#6.NORMALIZATION/SCALING (DONE ONLY FOR INPUTS)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [ ]:
#7.apply a CLASSIFIER,regressor or clusterer
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
#8.Fit the model
model.fit(x_train,y_train) # using the training variables , we train the model

LogisticRegression()

In [ ]:
#9.Predict the output
y_pred = model.predict(x_test)
y_pred
#PREDICTED OUTPUT VALUES

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1])

In [ ]:
y_test #ACTUAL OUTPUT VALUES

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1])

In [ ]:
#10.Accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)* 100

89.0

In [ ]:
#INDIVIDUAL PREDICTION
a = scaler.transform([[25,50000]])
a

array([[0.16666667, 0.25925926]])

In [ ]:
model.predict(a)

array([0])

In [ ]:
b = scaler.transform([[50,35000]])
b

array([[0.76190476, 0.14814815]])

In [ ]:
model.predict(b)

array([1])

In [ ]:
#CLASSIFICATION MODEL 2

In [1]:
#1.take the data and create dataframe
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ameenmanna8824/DATASETS/main/IRIS.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
#input - sepal length,sepal width,petal length and petal width
#output - Species

In [ ]:
#4.divide the data into input and output
x = df.iloc[:,0:4].values
y = df.iloc[:,4].values

In [ ]:
#5.train and test variables
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [ ]:
#Step no 6 is not required here , because our inputs are already scaled

In [ ]:
#7.Apply a classifier,regressor or clusterer
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
#8.FIT THE MODEL
model.fit(x_train,y_train)

LogisticRegression()

In [ ]:
#9.predict the output
y_pred = model.predict(x_test)
y_pred #Predicted output

array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica'], dtype=object)

In [ ]:
y_test #Actual output

array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor'], dtype=object)

In [ ]:
#10.Accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)*100

97.36842105263158

In [ ]:
#INDIVIDUAL PREDICTION

In [ ]:
model.predict([[5.1,3.5,1.4,0.2]])

array(['Iris-setosa'], dtype=object)

In [ ]:
model.predict([[5.6,3.0,4.5,1.5]])

array(['Iris-versicolor'], dtype=object)

In [ ]:
model.predict([[6.3,2.5,5.0,1.9]])

array(['Iris-virginica'], dtype=object)

In [ ]:
#custom values
model.predict([[5.2,3.3,6.8,2.1]])

array(['Iris-virginica'], dtype=object)